header {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 40px 0 20px 0;
}

h1 {
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: center;
  ul {
    width: 100%;
    display: flex;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    border-top: solid lightGrey 1px;
    border-bottom: solid lightGrey 1px;
  }
  li {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0 16px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.08s;
    &:hover {
      background-color: lightpink;
    }
    a {
      display: flex;
      align-items: center;
    }
    span {
      display: inline-block;
      font-family: monospace;
      padding: 3px;
      background-color: black;
      color: white;
      border-radius: 50%;
      transform: translate(-5px, -5px);
    }
  }
}
